body {
    border:0;
    margin:0;
    background-color: #E6FF9A;
}
  .footer, .header, .navigation, .content {
      text-align: center;
      overflow: auto;
      border-width: 1%;
      color: white;
  }

    .header {
      float:top;
      font-size:80%;
      height:10%;
      font-weight: bold;
      border-top:solid;
      border-bottom:solid;
      border-right:solid;
      margin-right: 10%;
      background-color: #708FFF;
  }
    
    .navigation {
      display: inline;
      float:left;
      width:30%;
      height:79%;
      border-bottom:solid;
      border-right:solid;
      border-top: none;
      background-color: #85A0FF;
    }

    .content {
      display: inline;
      width:69%;
      height:79%;
      float:right;
      vertical-align: top;
      position: relative;
      background-color: #9EB3FF;
    }

    .footer {
      display: block;
      float:bottom;
      width:100%;
      height:10%;
      background-color: #B7C7FF;
      border:none;
    }

    ul {
      list-style-type: none;
      position: center;
  }

    a {
    text-align: center;
    list-style: square;
    font-size: 100%;
    color:white;
  }


    a:link {
      text-decoration: none;
    }

    a:hover {
      color: #E6FF9A;
}